@media screen and (max-width: 768px) {
    .employee-container {
        margin: 60px auto;
        padding: 0 15px;
    }

    .reviews-list,
    .rides-list {
        grid-template-columns: 1fr;
    }

    .reviews-actions {
        flex-direction: column;
        align-items: stretch;
    }

    .btn {
        width: 100%;
    }
}