/* EcoRide - FEUILLE DE STYLE CSS - Page index.html */

/* SECTION 1 : Présentation du covoiturage */

.presentation-covoiturage {
    padding: 80px 0;
    background-color: var(--background);
    min-height: 600px;
    margin-top: 2.4vh;
}

.presentation-covoiturage .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    gap: 60px;
}

.text-column {
    flex: 1;
}

.titre-principal {
    font-family: 'Segoe UI', sans-serif;
    font-size: 32px;
    color: var(--text-dark);
    margin-bottom: 20px;
    text-align: center;
}

.sous-titre {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--secondary);
    text-align: center;
    line-height: 1.6;
}

.image-column {
    flex: 1;
    text-align: right;
}

.image-column img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

/* Conteneur des deux boutons */ 

.cta-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* SECTION 3 : Présentation entreprise */

.presentation-entreprise {
    padding: 80px 0;
    background-color: var(--background);
    min-height: 600px;
    margin-bottom: 2.4vh;
}

.presentation-entreprise .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    gap: 60px;
}

.image-column-entreprise {
    flex: 1;
    text-align: left;
}

.image-column-entreprise img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}