/* EcoRide - FEUILLE DE STYLE CSS - Page login.html */


body.login-page {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.login-container form {
    background-color: var(--card-background);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
}


.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #1b4332;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.btn-primary {
  background-color: #1b4332;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background-color: #2d6a4f;
}

.redirect {
  text-align: center;
  margin-top: 15px;
}