/* ------- RESPONSIVE DESIGN - Site Globale ------- */ 
/* Mobile (max-width: 768px) */
@media screen and (max-width: 768px) {

/* Affichage burger seulement sur mobile */
    .nav-links {
        display: none;
    }

/* NAVIGATION MOBILE DROPDOWN */

    .burger {
        position: absolute;
        left: 1.2rem;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        cursor: pointer;
        z-index: 1100;
        display: block;
    }

/* Barre du burger */ 
    .burger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--secondary);
        border-radius: 2px;
        transition: all 0.35s ease;
    }

/* Etat normal */
    .burger span:nth-child(1) {
        top: 2px;
    }

    .burger span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .burger span:nth-child(3) {
        bottom: 2px;
    }

/* Etat actif */
    .burger.active span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .burger.active span:nth-child(2) {
        opacity: 0;
    }

    .burger.active span:nth-child(3) {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

/* Affichage seulement sur mobile */
    .navbar {
        background-color: var(--background);
        padding: 0.6rem 0;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .container-nav {
        justify-content: center;
        align-items: center;
        position: relative;
        height: 56px;
    }

    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .logo img {
        height: 32px;
        align-items: center;
    }

    
    .search-bar {
        flex-direction: column;
        gap: 1rem;
    }

    .search-bar input[type="text"],
    .search-bar input[type="date"],
    .search-bar button {
        width: 100%;
    }

    .search-field {
        width: 100%;
    }

    .footer .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}