    <!-- FOOTER -->        
            <footer class="footer">
                <div class="footer-logo">
                    <img src="assets/logo-footer.png" alt="EcoRide Logo"/>
                </div>
                <ul class="footer-links">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Covoiturage</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="footer-contact">
                    <p><img src="assets/icons/mail.png" alt="email icon" class="icon-mail" /> contact@ecoride.com</p>
                </div>
                <div class="footer-bottom">
                    <a href="docs/mentions-legales.pdf" target="_blank">Mentions légales</a> |
                    <span>© EcoRide 2025 - Tous droits réservés</span>
                </div>
            </footer>