     <!-- SECTION navbar (DESKTOP) -->
     <header class="navbar">
        <div class="container-nav">

              <!-- Icône du menu burger (mobile) -->
               <div class="burger">
                <span></span>
                <span></span>
                <span></span>
               </div>

            <!-- Logo icône seul pour Ecoride -->
             <a href="index.html" class="logo">
                <img src="assets/logo-footer.png" alt="EcoRide logo">
             </a>

             <!-- Menu de navigation -->
              <nav class="nav-links">
                <!-- Liens à gauche -->
                <ul class="nav-left">
                    <li><a href="index.html">Accueil</a></li>
                    <li><a href="listings.html">Covoiturage</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>    

                <!-- Liens à droite -->
                <ul class="nav-right">
                    <li><a href="login.html" id="link-login-desktop">Connexion</a></li>
                    <li><a href="signup.html" id="link-register-desktop">Inscription</a></li>
                    <li><a href="account.html" id="link-account-desktop" class="hidden">Mon compte</a></li>
                    <li id="link-logout-desktop" class="hidden">
                        <button class="btn-secondary logout-btn">Déconnexion</button>
                    </li> 
                </ul>
              </nav>

               <!-- Menu mobile overlay -->
                <div class="mobile-menu" id="mobileMenu">
                    <ul class="nav-left">
                        <li><a href="index.html">Accueil</a></li>
                        <li><a href="listings.html">Covoiturage</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <hr>
                    <ul class="nav-right">
                        <li><a href="login.html" id="link-login-mobile">Connexion</a></li>
                        <li><a href="signup.html" id="link-register-mobile">Inscription</a></li>
                        <li><a href="account.html" id="link-account-mobile" class="hidden">Mon compte</a></li>
                        <li id="link-logout-mobile" class="hidden">
                            <button class="btn-secondary logout-btn">Déconnexion</button>
                        </li>
                    </ul>
                </div>
        </div>
     </header> 