# fly.toml app configuration file generated for ecoride-project-damp-wind-2109 on 2025-11-19T10:20:51+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "ecoride-project-morning-rain-797"
primary_region = 'cdg'

[build]
  dockerfile = "docker/php/Dockerfile"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

  # Deployment configuration validated (ECF final)
